
@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-400.woff2) format("woff2");
    font-style: Black;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-700.woff2) format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter-900.woff2) format("woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

html {
    height: 100%;
}

html, body{
    width: 1170px;
    margin: auto;
}


*{outline: 1px solid red;}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
    color: #2D3440;
    line-height: 24px;
    background-color: #FEAFC3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    color: #2D3440;
    margin-top: 24px;
    background-color: #FEAFC3;
    display: flex;
    flex-direction: row;
}

.page-cotainer{
    width: 1170px;
    margin: 0 auto;
}

.navigation{
    display: flex;
    width: 1170px;
    margin: 0 auto; 
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.navbar-brend{
    width: 137px;
    margin-right: 100px;
}


.navigation-link {
    display: block;
    padding: 24px 19px;
    font-family: "Inter", sans-serif;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    color: #2D3440;
    background-color: #FEAFC3;
    text-decoration: none;

}

.navigation-list {
    display: flex;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.navigation-user{
    max-width: 250px;
    margin-left: auto;
}

.navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
}

.ice-cream-corusel {
    display: block;
    margin: 0 auto;
}

.advantages{
    margin-bottom: 81px;
}

.advantages-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none ;
}
.advantages-item{
    width: 570px;
}

/* Title */
.advantages-title {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }

.main-container{
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacts-phone {
    font-family: "Inter", sans-serif;
    font-weight: Bold;
    text-align: left;
    color: #2D3440; 
}

.index-main{
    color: #2D3440;
    background-color: #FEAFC3;
    display: flex;
    flex-direction: column;
}

.ice-cream{
    width: 470px;
}

.heading{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    text-align: left;
}

.first_text p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: left; 
}

button {
    background-color: #FCFCFC;
    border: 0 solid;
    border-radius: 26px;
    padding: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 32px 12px 32px;
}

.news {
    display: flex;
}

.aside{
    background-image: url(/img/Новости.png);
    background-repeat: no-repeat;
    width: 570px;
    height: 224px;
}

.aside p, h3 {
    position: relative;
}

.image{
    display: flex;
    justify-content: flex-end;
}

.page-footer{
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.footer-contact{
    width: 200px;
    margin-right: 130px;
}

.footer_block_group{
    width: 350px;
    margin: auto;
}

.catalog-products{
    display: flex;
}

.catalog-filter{
    width: 900px;
    margin-right: 435px;
}

.catalog-menu{
}